<div class="card">
    <div class="card-body">
        <div class="selected-options mb-3">
            <h3>Подключенные услуги</h3>
            <div>
                <input [formControl]="optionName" type="text" class="form-control form-control-sm mb-2">
            </div>
            <div class="option-list">
                <div *ngFor="let option of filteredSelectedOptions" class="option">
                    <div class="option-description">
                        <div class="date mr-1">{{ option.startDate }}</div>
                        <div class="option-title mr-1">{{ option.title }}</div>
                    </div>
                    <div class="option-action">
                        <div class="option-cost mr-1">{{ option.cost }} <span class="currency">руб</span></div> 
                        <div class="cancel-option" (click)="removeUserOption(option.id)">
                            <fa-icon [icon]="delete" class="icon"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showSelectedNotice" class="alert alert-info" role="alert">
                Нет подключенных услуг
            </div>
        </div>
        <div class="unselected-options">
            <h3>Доступные услуги</h3>
            <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveOptions()">
                <div class="option-list mb-3">
                    <div *ngFor="let option of optionsAsArray.controls; let i = index" class="option" formArrayName="options">
                        <div class="option-description mr-1">
                            <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="i">
                            <label class="form-check-label" [for]="i">
                                {{ filteredUnselectedOptions ? filteredUnselectedOptions[i].title : null }} 
                            </label> 
                        </div>
                        <div class="option-cost">
                            {{ filteredUnselectedOptions ? filteredUnselectedOptions[i].cost + ' руб' : null }}
                        </div>
                    </div>
                </div>
                <div *ngIf="showUnselectedNotice" class="alert alert-info" role="alert">
                    Нет услуг для подключения
                </div>

                <div class="button-container">
                    <button type="button" (click)="saveOptions()" class="btn btn-success btn-sm" [disabled]="form.pristine">Подключить услуги</button>
                </div>
            </form>
            
        </div>
    </div>    
</div>