.option{
    display: flex;
}
.selected-options{
    .option{
        display: flex;
        justify-content: space-between;

        .option-description{
            display: flex;
        }

        .option-action{
            display: flex;
        }

        .cancel-option{
            cursor: pointer;
        }

        .date{
            font-size: 0.6rem;
            padding-top:0.4rem;
            color: #808080;
        }
    }
}
.unselected-options{
    .option-list{
        padding-left: 20px;

        .option{
            display: flex;
            justify-content: space-between;
        }
    }

    .button-container{
        display: flex;
        justify-content: flex-end;
    }
}
.option-cost{
    padding-top: 0.2rem;
    font-size: 0.8rem;
    min-width: 40px;
    text-align: right;
}