::ng-deep {
    
    body{
        background: #F5F5F5;  
    }

    .card-body{
        padding: 0.5rem;
        background-color: #fff;
    }

    .navbar, .container {
        justify-content: flex-start !important;
    }

    .navbar {
        a{
            color: #ffff;
            text-decoration: none;
        }
    }

    .toast-container{
        top: 4rem;
        max-width: 80%;

        div{
            max-width: 100%;
        }
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
}

.content{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.footer{
    background-color: #343a40 !important;
    color: #efefef;
    padding: 1rem
}