::ng-deep {
    html, body, .body {
        height: 100% !important;
    }

    .card-body{
        padding: 0.5rem;
        background-color: #fff;
    }

    .navbar, .container {
        justify-content: flex-start !important;
    }

    .navbar {
        a{
            color: #ffff;
            text-decoration: none;
        }
    }

    .toast-container{
        top: 4rem;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
}

.body{
    background: #F5F5F5;
    padding-top: 4rem;
    height: 100%;
}
